# IntelliJ config folder
.idea/

# Fullmap splitting folder (old)
fullmap_splitting/

# NWT files
nwt-data/

# Images
images/

# Related work
related work/

# Forms
forms/

# Special file extensions
*.pkl
*.h5
*.hdf5
*.json
*.lyx~
*.lyx#
*.pyc
*.xlsx
